body {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image:url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  text-align: center;
  color: white;
  background-size: cover;
}

.header a {
  color: white;
  font-size: 18px;

}

.header-container {
  margin: auto;
}


h1 {
  font-size: 70px;
  font-weight: bold;
  padding: 5px;
}

h3  {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}

#footer a {
  color: white;
}

.design-nyc {
  background-image:url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color: white;
}
